# Predictive Maintenance

In [5]:
# Predictive Maintenance
from sklearn.linear_model import LogisticRegression
from rpy2 import robjects
import pandas as pd
import numpy as np

## rpy2

In [39]:
from rpy2.robjects import pandas2ri
from rpy2.robjects import default_converter
from rpy2.robjects.conversion import localconverter
from rpy2.robjects.lib.dplyr import DataFrame

C:\Users\Kajornphat\Anaconda3\lib\site-packages\rpy2\robjects\lib\dplyr.py:24: UserWarning: This was designed againt dplyr version 0.7.5 but you have 0.8.0.1
  warnings.warn('This was designed againt dplyr version %s but you have %s' % (TARGET_VERSION, dplyr.__version__))

In [40]:
file_name = ["cement_mill", "roller_press", "separator", "feeder"]
df = {file:pd.read_csv('Data/' + file + '.csv') for file in file_name}

In [41]:
df1 = pd.merge(df["cement_mill"], df["roller_press"], on='t_stamp')
df2 = pd.merge(df["separator"], df["feeder"], on='t_stamp')
df = pd.merge(df1, df2, on='t_stamp')

In [42]:
# Remove SV and MV Features
df = df[df.columns[~df.columns.str.endswith('sv')]]
df = df[df.columns[~df.columns.str.endswith('mv')]]

In [47]:
from rpy2.robjects.packages import importr, data
datasets = importr('datasets')
mtcars_env = data(datasets).fetch('mtcars')
mtcars = mtcars_env['mtcars']

In [37]:
mtcars

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x00000224958EDAC8 / R:0x000002249128BC58>
[FloatVector, FloatVector, FloatVector, FloatVector, ..., FloatVector, FloatVector, FloatVector, FloatVector]
  mpg: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000224958F4608 / R:0x0000022495CDF850>
[21.000000, 21.000000, 22.800000, 21.400000, ..., 15.800000, 19.700000, 15.000000, 21.400000]
  cyl: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000224958F4788 / R:0x0000022495CDF988>
[6.000000, 6.000000, 4.000000, 6.000000, ..., 8.000000, 6.000000, 8.000000, 4.000000]
  disp: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000224958F4808 / R:0x0000022495CDFAC0>
[160.000000, 160.000000, 108.000000, 258.000000, ..., 351.000000, 145.000000, 301.000000, 121.000000]
  hp: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000224958F4908 / R:0x0000022495CDFBF8>
[110.000000, 110.000000, 93.000000, 110.000000, ..., 264.000000, 175.000000, 335.000000, 109.000000]
...
  wt: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000224958F45C8 / R:0x0000022495CE00D8>
[0.000000, 0.000000, 1.000000, 1.000000, ..., 0.000000, 0.000000, 0.000000, 1.000000]
  qsec: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000224958F44C8 / R:0x0000022495CE0210>
[1.000000, 1.000000, 1.000000, 0.000000, ..., 1.000000, 1.000000, 1.000000, 1.000000]
  vs: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000224958F4408 / R:0x0000022495CE0348>
[4.000000, 4.000000, 4.000000, 3.000000, ..., 5.000000, 5.000000, 5.000000, 4.000000]
  am: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000224958F4308 / R:0x0000022495CE0480>
[4.000000, 4.000000, 1.000000, 1.000000, ..., 4.000000, 6.000000, 8.000000, 2.000000]

In [46]:
df_class = df.__class__
if df_class is pd.core.frame.DataFrame:
    print("Hey")

Hey

In [56]:
def convert_df(dataframe):       
    with localconverter(default_converter + pandas2ri.converter) as cv:
        df_class = dataframe.__class__
    
        # Dataframe to 
        if df_class is pd.core.frame.DataFrame:
                mtcars = pandas2ri.ri2py(mtcars)
        elif df_class is robjects.lib.dplyr.DataFrame:
                dataframe = DataFrame(dataframe)
        print("Hey")

In [69]:
if mtcars.__class__ is robjects.lib.dplyr.DataFrame:
    print("Hey")

Hey

In [65]:
mtcars.__class__

pandas.core.frame.DataFrame

In [68]:
with localconverter(default_converter + pandas2ri.converter) as cv:
    mtcars = DataFrame(mtcars)

mtcars.__class__

rpy2.robjects.lib.dplyr.DataFrame

In [85]:
dataf.__class__

rpy2.robjects.lib.dplyr.DataFrame