# Predictive Maintenance

In [19]:
# Predictive Maintenance
from sklearn.linear_model import LogisticRegression
from rpy2 import robjects
import pandas as pd
import numpy as np

In [20]:
file_name = ["cement_mill", "roller_press", "separator", "feeder"]
df = {file:pd.read_csv('Data/' + file + '.csv') for file in file_name}

In [21]:
df1 = pd.merge(df["cement_mill"], df["roller_press"], on='t_stamp')
df2 = pd.merge(df["separator"], df["feeder"], on='t_stamp')
df = pd.merge(df1, df2, on='t_stamp')

In [23]:
# Remove SV and MV Features
df = df[df.columns[~df.columns.str.endswith('sv')]]
df = df[df.columns[~df.columns.str.endswith('mv')]]

In [24]:
df

,t_stamp,be-mill_out_amp,be-mill_out_power,cement_type,cement_type 1,cement_type 2,mat_in_temp,mat_out_temp,mill drive_power,mill drive_run,...,add_feed 1,add_feed 2,cement_flow_return,cli_feed,gyp_feed,hopper_cli_lev,hopper_gyp_lev,hopper_lime_lev,lime_feed,tot_feed
0,2017-07-01 00:00:00.000,256.712189,0.0,NaN,0.0,1.0,0.0,0.0,4289.811523,0,...,0.0,0.0,0.0,0.0,0.0,13.489513,0.0,0.0,0.0,294.706024
1,2017-07-01 00:10:00.000,254.321503,0.0,NaN,0.0,1.0,0.0,0.0,4276.529297,0,...,0.0,0.0,0.0,0.0,0.0,15.617309,0.0,0.0,0.0,282.521729
2,2017-07-01 00:20:00.000,255.317444,0.0,NaN,0.0,1.0,0.0,0.0,4326.605957,0,...,0.0,0.0,0.0,0.0,0.0,14.310499,0.0,0.0,0.0,271.610840
3,2017-07-01 00:30:00.000,251.911148,0.0,NaN,0.0,1.0,0.0,0.0,4277.915039,0,...,0.0,0.0,0.0,0.0,0.0,12.195548,0.0,0.0,0.0,289.420166
4,2017-07-01 00:40:00.000,246.957001,0.0,NaN,0.0,1.0,0.0,0.0,4254.054688,0,...,0.0,0.0,0.0,0.0,0.0,13.203295,0.0,0.0,0.0,286.063690
5,2017-07-01 00:50:00.000,255.463150,0.0,NaN,0.0,1.0,0.0,0.0,4274.890625,0,...,0.0,0.0,0.0,0.0,0.0,14.806042,0.0,0.0,0.0,264.079437
6,2017-07-01 01:00:00.000,251.720367,0.0,NaN,0.0,1.0,0.0,0.0,4294.589355,0,...,0.0,0.0,0.0,0.0,0.0,12.283951,0.0,0.0,0.0,274.842102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27641,2018-01-08 22:50:00.000,-0.428196,0.0,1.0,0.0,1.0,0.0,0.0,4.660933,0,...,0.0,0.0,0.0,0.0,0.0,12.818345,0.0,0.0,0.0,0.404158
27642,2018-01-08 23:00:00.000,-0.410741,0.0,1.0,0.0,1.0,0.0,0.0,4.546985,0,...,0.0,0.0,0.0,0.0,0.0,12.818248,0.0,0.0,0.0,0.402614
27643,2018-01-08 23:10:00.000,-0.409739,0.0,1.0,0.0,1.0,0.0,0.0,4.551100,0,...,0.0,0.0,0.0,0.0,0.0,12.818244,0.0,0.0,0.0,0.378531
27644,2018-01-08 23:20:00.000,-0.428584,0.0,1.0,0.0,1.0,0.0,0.0,4.811116,0,...,0.0,0.0,0.0,0.0,0.0,12.818244,0.0,0.0,0.0,0.406602
27645,2018-01-08 23:30:00.000,-0.414823,0.0,1.0,0.0,1.0,0.0,0.0,4.919090,0,...,0.0,0.0,0.0,0.0,0.0,12.818244,0.0,0.0,0.0,0.399878
27646,2018-01-08 23:40:00.000,-0.411258,0.0,1.0,0.0,1.0,0.0,0.0,4.623693,0,...,0.0,0.0,0.0,0.0,0.0,12.818244,0.0,0.0,0.0,0.398791
27647,2018-01-08 23:50:00.000,-0.410529,0.0,1.0,0.0,1.0,0.0,0.0,4.881186,0,...,0.0,0.0,0.0,0.0,0.0,12.818244,0.0,0.0,0.0,0.423930

In [83]:
from rpy2.robjects import pandas2ri
from rpy2.robjects import default_converter
from rpy2.robjects.conversion import localconverter
with localconverter(default_converter + pandas2ri.converter) as cv:
    mtcars = mtcars_env['mtcars']
    mtcars = pandas2ri.ri2py(mtcars)
print(type(mtcars))

<class 'pandas.core.frame.DataFrame'>

C:\Users\Kajornphat\Anaconda3\lib\site-packages\rpy2\robjects\pandas2ri.py:191: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  res = PandasDataFrame.from_items(items)

In [84]:
with localconverter(default_converter + pandas2ri.converter) as cv:
    dataf = (DataFrame(mtcars).
             filter('gear>=3').
             mutate(powertoweight='hp*36/wt').
             group_by('gear').
             summarize(mean_ptw='mean(powertoweight)'))

dataf

R object with classes: ('tbl_df', 'tbl', 'data.frame') mapped to:
<DataFrame - Python:0x0000028198060D88 / R:0x000002819BE39220>
[FloatVector, FloatVector]
  gear: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000281968E1648 / R:0x00000281A2484CC0>
[3.000000, 4.000000, 5.000000]
  mean_ptw: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x00000281986AB5C8 / R:0x00000281A2485260>
[1633.989574, 1237.126650, 2574.033164]

In [85]:
dataf.__class__

rpy2.robjects.lib.dplyr.DataFrame